<section class="home-container">
  <div class="home-image">
    <img
      src="boligrafo-encuentra-encima-bloc-notas-fondo-negro_889056-316.avif"
      alt="Cuaderno de notas"
      class="hero-img"
    />
  </div>

  <div class="home-content">
    <div class="welcome-card">
      <h2 class="welcome-title">Bienvenido a tu Blog de Notas</h2>
      <p class="welcome-text">
        El espacio perfecto para organizar tus ideas, gestionar tus tareas y mantener tu creatividad
        fluyendo.
      </p>
      <button class="btn-primary" (click)="goToTasks()">
        empezar ahora
        <span class="btn-icon">→</span>
      </button>
    </div>
  </div>
</section>
